{% extends 'base.html.twig' %}

{% block title %}Delete Task{% endblock %}

{% block body %}
    <h1>Delete Task</h1>

    <p>Are you sure you want to delete this task?</p>

    <form method="post">
        <input type="hidden" name="task_id_to_delete" value="{{ task.id }}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <a href="{{ path('task_delete', { 'id': task.id }) }}" class="btn btn-primary">Cancel</a>


</body>
