{% extends 'base.html.twig' %}

{% block title %}Редактирование задачи{% endblock %}

{% block styles %}
    {{ parent() }}

{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Редактирование задачи</h1>
    {{ form_start(task_form) }}
    {{ form_widget(task_form) }}
    {{ form_end(task_form) }}
</div>
    <style>
        /* Стили для формы и инпутов */
        body {
            background-color: #f0f0f0; /* Нейтральный фон для всей страницы */
            font-family: Arial, sans-serif; /* Шрифт по умолчанию */
        }

        .form-container {
            background-color: rgba(255, 255, 255, 0.5); /* Белый полупрозрачный фон для формы */
            border: 1px solid #ccc;
            border-radius: 10px; /* Округленные углы формы */
            padding: 20px;
            box-shadow: 2px 2px 5px #888; /* Тень формы */
            max-width: 600px; /* Максимальная ширина формы */
            margin: 0 auto; /* Центрирование формы по центру страницы */
        }

        .form-container input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-container button {
            background: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
        }
        input[type="text"] {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 50%;
            margin: 5px 0;
        }
    </style>
{% endblock %}
