{% extends 'base.html.twig' %}

{% block title %}Добавление задачи{% endblock %}

{% block styles %}
    {{ parent() }}

{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Добавление задачи</h1>
    {{ form_start(task_form) }}
    {{ form_widget(task_form) }}
    {{ form_end(task_form) }}
</div>
 
{% endblock %}
